# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: grunt
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  grunt:
    strategy:
      matrix:
        os: [ubuntu-24.04]
        java: [17]
        node: [16]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm install --force -g grunt-cli
      - run: grunt
